/*タブ部分*/
#demo1 .tab_area ul li{
    display:block;
    background:#dddddd;
    border-right:1px solid #ffffff;
    width: 150px;
    float:left;
    -webkit-box-sizing : border-box ;
    -moz-box-sizing : border-box ;
    box-sizing : border-box ;
}

#demo1 .tab_area ul li a{
    display:block;
    text-align:center;
    padding: 5px;
    color:#313131;
}

#demo1 .tab_area ul li a:hover {
    background:#999999;
    color:#ffffff;
}

/*コンテンツ部分の表示領域を固定してはみ出さないようにする*/
#demo1 .content_area {
    width: 600px;
    overflow: hidden;
    height: auto;
    border: 1px solid #DDDDDD;
}

/*コンテンツを1行にするために必要な幅をとる*/
#demo1 .content_area .content_area_inner {
    width:1800px;
}

/*コンテンツのスタイル設定*/
#demo1 .content_area .content_block {
    height: auto;
    padding: 10px;
    width: 600px;
    float: left;
    -webkit-box-sizing : border-box ;
    -moz-box-sizing : border-box ;
    box-sizing : border-box ;
}

#demo1 #contents1 {
    background:#47CA40;
}

#demo1 #contents2 {
    background:#EBEF64;
}

#demo1 #contents3 {
    background:#F56B6B;
}
